.footer-background {
  background-size: cover;
  margin: 280px 0;
  .footer {
    .footer-section {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px 0 43px;
      text-align: center;

      .footer-section__right {
        width: calc(100% / 3);
        padding-right: 72px;
        color: $dark;
        > .item {
          font-weight: 700;
          font-size: 24px;
        }

        > .sub-item {
          font-size: 18px;
        }

        > a {
          display: block;
          margin-bottom: 16px;
        }
      }


      .footer-section__center {
        width: calc(100% / 3);
        border-left: 1px solid $black;
        border-right: 1px solid $black;
        padding: 36px 72px;

        > div {
          margin-bottom: 32px;
        }

        .logo {
          width: 50px;
          margin-bottom: 32px;
        }

        .subtitle {
          font-size: 12px;
          font-weight: 500;
          color: $black
        }

        .social-icons {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 16px;

          > a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba($third, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary;
            font-size: 20px;
          }
        }
      }

      .footer-section__left {
        width: calc(100% / 3);
        padding-left: 72px;
        color: $dark;

        > div {
          margin-bottom: 16px;
        }

        > .title {
          font-size: 24px;
          font-weight: 700;
        }

        > .phone-number {
          font-size: 18px;

        }

        > .address {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }

    .primary-bold {
      font-weight: 700;
      font-size: 24px;
      color: $primary;
    }


    > .copyright {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      padding: 43px 0 45px;
    }


    hr {
      color: $black;
    }
  }

}
