@media (max-width: 500px) {
    .Toastify__toast-container {
        width: 90% !important;
        max-width: 320px;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .Toastify__toast {
        font-size: 14px !important;
    }
}