.jj-icon-cart-shopping:before { content: '\e800'; } /* '' */
.jj-icon-chevron-right:before { content: '\e801'; } /* '' */
.jj-icon-chevron-left:before { content: '\e802'; } /* '' */
.jj-icon-instagram:before { content: '\e803'; } /* '' */
.jj-icon-whatsapp:before { content: '\e804'; } /* '' */
.jj-icon-telegram:before { content: '\e805'; } /* '' */
.jj-icon-heart:before { content: '\e80a'; } /* '' */
.jj-icon-heart-fill:before { content: '\e80b'; } /* '' */
