.backgrounds-container {
  background: no-repeat url("https://images5.alphacoders.com/133/thumb-1920-1331568.png");
  background-size: cover;
}
.container-wr {
  display: flex;
  flex-direction: column;
  gap:380px;


  .content-section {




    .title{
      font-size: 42px;
      font-weight: bold;
      color: $light;
    }
    .description{
      font-size: 22px;
      font-weight: bold;
      color: $light;
    }
  }

  .card-section {
    //background: lightslategray;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;

    .card {
      //background: #0DCAF0;
      border: none  ;
    }

  }

}
