// Color system
$enable-dark-mode: false;
$white: #fff;
$gray: #575757;
$gray-100: #EDEDED;
$gray-200: #D6D6D6;
$gray-300: #B9B9B9;
$gray-400: #797979;
$gray-500: #565656;
$gray-600: #292929;
$gray-700: #0E0E0E;
$black: #000;
$grays: (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
);

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 4.5;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: $black;
$color-contrast-light: $white;
$primary: #4969e4;
$secondary: #9E9A86;
$third: #FE0000;
$milky: #E4E4E4;
$success: #0FA961;
$info: #0DCAF0;
$warning: #FFC107;
$danger: #DC3545;
$light: #B7B8BC;
$dark: #212529;
$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "third": $third,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);
$colors: (
);